---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Gallery from "../../components/Gallery.astro";

export async function getStaticPaths() {
  const data = await fetch("https://euedhdrakswqsquhtjkx.supabase.co/rest/v1/products", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZWRoZHJha3N3cXNxdWh0amt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUyNTEyNDYsImV4cCI6MjAzMDgyNzI0Nn0.mXDwiwon4LDuspPMmUhUACpS8eCG3AZ7Ttf8Dd2wwu0",
    },
  }).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: { myData: product },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<MainLayout>
  <section class="singleview">
    <img class="product-image" src={`/imgs/${myData.image}`} alt={myData.titel} />
    <div class="info">
      <h2>{myData.titel}</h2>
      <p>{myData.description}</p>
      <p class="condition">Stand: {myData.condition}</p>
      <div class="contact">
        <p>{myData.price} kr</p>
        <Button variant="primary" size="small"><a href="#">Kontakt sælger</a></Button>
      </div>
      <div class="profile-wrapper">
        <div class="profile-container">
          <img class="profile-image" src="../svg/profile_with_border.svg" alt="profil" />
          <p>{myData.seller}</p>
        </div>
        <div class="profile-info">
          <p>{myData.location}</p>
          <div class="mitID">
            <img src="../svg/mit_id.svg" alt="mit id" />
            <p>MitID valideret</p>
          </div>
          <p>Bruger siden 18. juli 2005</p>
        </div>
      </div>
      <Button variant="secondary" size="small"><a class="secondary" href="#">Se sælgers andre annoncer</a></Button>
    </div>
  </section>
  <Gallery />
</MainLayout>

<style>
  .singleview {
    margin-inline: 1rem;
  }

  .product-image {
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  .info {
    display: grid;
    gap: 4px;
  }

  h2 {
    font-weight: 100;
  }

  .condition {
    font-size: 0.875rem;
    color: var(--dark-grey-100);
    margin-bottom: 0.75rem;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }

  .profile-wrapper > * {
    align-self: center;
  }

  .profile-wrapper .profile-container {
    display: grid;
    justify-items: center;
    gap: 5px;
  }
  .profile-info {
    display: grid;
    gap: 15px;
  }
  .mitID {
    display: flex;
    align-items: center;
  }

  .mitID p {
    padding-left: 5px;
  }

  .mitID img {
    width: 20px;
    /* padding-top: 30px; */
  }
  .secondary {
    color: var(--dark-blue-100);
  }
</style>
