---
const { variant, text, url, background, hover } = Astro.props;
---

<!-- <a href={url}>
  <button class={variant + " " + size}>
    <slot />
  </button>
</a> -->
<a href={url}>
  <div class="button-container" class={variant}>
    <div class="container"></div>
    <p>{text}</p>
  </div>
</a>

<style define:vars={{ background: `url("${background}")`, hover: `url("${hover}")` }}>
  .button-container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    transition:
      background-color 0.2s,
      color 0.2s;
  }

  .primary {
    background-color: var(--dark-blue-100);
    color: var(--main-white);
  }

  .container {
    width: 15px;
    height: 15px;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    transition: background-image 0.2s;
  }
  .button-container:hover {
    background-color: var(--light-blue-100);
    color: var(--dark-blue-100);
  }

  .button-container:hover .container {
    background-image: var(--hover);
    background-color: var(--background-color);
  }

  .primary .button-container:hover .button-text {
    color: var(--dark-blue-100);
  }
</style>

<!-- <style>
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }


  .primary {
    background-color: var(--dark-blue-100);
    color: var(--primary-btn-text-color);
    display: flex;
    border-radius: 20px;
    appearance: none;
    justify-content: center;
    border: none;
    padding: 8px 20px;
    align-items: center;
    transition: 0.2s;
  }


  .secondary {
    border: 1px solid var(--dark-blue-100);
    background-color: transparent;
    border-radius: 25px;
    appearance: none;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue-100);
  }


  .tertiary {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue-100);
    background-color: transparent;
    border: none;
  }


  .small {
    font-size: var(--p-desktop);
  }

  .medium {
    font-size: var(--h3-desktop);
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .large {
    font-size: 1rem;
    width: 250px;
  }

  .xl {
    font-size: 1rem;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style> -->
