---
const { data } = Astro.props;

const tags = data.tags;
console.log("tags", tags);
---

<a href={`/product/${data.slug}`}>
  <article>
    <div class={(data.tags.includes("shipping") && "shipping hide") || "shipping"}><img src="/svg/box.svg" alt="shipping box" /></div>
    <div class="like"><img src="/svg/heart.svg" alt="heart" /></div>

    <img class="product" src={`/imgs/${data.image}`} alt={data.titel} />
    <!-- <h3>{data.titel}</h3> -->
    <div class={data.tags.includes("paid") && "paid hide"}><p id="titel">{data.titel}</p></div>
    <div>
      <p class="pris">{data.price} kr</p>
      <p class="lokation">{data.location}</p>
    </div>
  </article>
</a>

<style>
  #titel {
    margin-bottom: 5px;
    font-size: var(--h3-mobile);
  }
  a {
    text-decoration: none;
    color: var(--black-100);
  }

  article {
    max-width: 221px;
    position: relative;
  }

  .product {
    border-radius: 10px;
    margin-bottom: 8px;
  }

  .pris,
  .lokation {
    font-size: var(--p-small-mobile);
    color: var(--dark-grey-100);
  }

  /* .lokation {
    font-size: var(--p-mini);
    color: var(--dark-grey-100);
  } */

  article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shipping,
  .like {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--main-white);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .like {
    right: 5px;
    top: 5px;
  }
  .shipping {
    top: 5px;
    left: 5px;
  }

  .shipping.hide {
    display: none;
  }

  .paid {
    font-weight: 700;
  }
</style>
