---
const { data } = Astro.props;

const tags = data.tags;
console.log("tags", tags);
---

<article>
  <div class={(data.tags.includes("shipping") && "shipping hide") || "shipping"}><img src="/svg/box.svg" alt="shipping box" /></div>
  <div class="like-container">
    <div class="like"></div>
  </div>
  <a href={`/product/${data.slug}`}>
    <img class="product" src={`/imgs/${data.image}`} alt={data.titel} />
    <div class={data.tags.includes("paid") && "paid hide"}><p id="titel">{data.titel}</p></div>
    <div>
      <p class="pris">{data.price} kr</p>
      <p class="lokation">{data.location}</p>
    </div>
  </a>
</article>

<style>
  #titel {
    margin-bottom: 5px;
    font-size: var(--h3-mobile);
  }
  a {
    text-decoration: none;
    color: var(--black-100);
  }

  article {
    max-width: 221px;
    position: relative;
  }

  .product {
    border-radius: 10px;
    margin-bottom: 8px;
  }

  .pris,
  .lokation {
    font-size: var(--p-small-mobile);
    color: var(--dark-grey-100);
  }

  article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shipping {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--main-white);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .like-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--main-white);
    padding: 6px;
    border-radius: 50%;
  }

  .like {
    width: 21.2px;
    height: 17.5px;
    background-image: url("/svg/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .like:hover {
    background-image: url("/svg/pink-heart.svg");
    width: 21px;
    height: 17.5px;
  }

  /* .liked {
    background-image: url("/svg/red-heart.svg");
  } */
  .shipping {
    top: 5px;
    left: 5px;
  }

  .shipping.hide {
    display: none;
  }

  .paid {
    font-weight: 700;
  }
</style>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    const likeProduct = document.querySelector(".like-container .like");

    likeProduct.addEventListener("click", function () {
      likeProduct.classList.toggle("liked");
    });
  });
</script> -->
