---
const { url, background, hover, text, variant } = Astro.props;
---

<a href={url}>
  <button class={variant}>
    <div class="container"></div>
    <p>{text}</p>
  </button>
</a>

<style define:vars={{ background: `url("${background}")`, hover: `url("${hover}")` }}>
  button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    transition:
      background-color 0.2s,
      color 0.2s;
    background-color: transparent;
    font-size: var(--p-mobile);
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .secondary {
    background-color: transparent;
    border: solid 1px var(--dark-blue-100);
    color: var(--dark-blue-100);
  }

  .tertiary {
    background-color: transparent;
    border: solid 1px var(--dark-blue-100);
    color: var(--dark-blue-100);
  }
  .tertiary:hover {
    background-color: var(--dark-blue-100);
    color: var(--main-white);
  }
  .container {
    width: 16.5px;
    height: 17.5px;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 7px;
    transition: background-image 0.2s;
  }

  button:hover .container {
    background-image: var(--hover);
  }

  @media (min-width: 868px) {
    button {
      font-size: var(--p-desktop);
    }
  }
</style>
